<h1>Welcome!</h1>

<p>
    Please log into the app using your email and the following temporary password.
    When you log in for the first time you should be prompted to change your password and add a username for convenience.
</p>

<dl>
    <dt>Your Temporary Password:</dt>
    <dd>{{ password }}</dd>
</dl>

<p>Thanks for joining us.</p>