<h1>New Invite Request</h1>

<dl>
    <dt>Name</dt>
    <dd>{{ req.name }}</dd>
    <dt>Email</dt>
    <dd>{{ req.email }}</dd>
    <dt>Phone</dt>
    <dd>{{ req.phoneNumber }}</dd>
    <dt>Description</dt>
    <dd>{{ req.description }}</dd>
</dl>

